*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/images.jfif);
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(13, 15, 15);
}
.container{
    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 70%;
}
.header{
    border-bottom: 2px solid violet;
    background-color: rgb(133, 133, 243);
    padding: 20px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 6px;
}

.form-control input{
    border: 2px solid ;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 11px;
    padding: 10px;
    width: 100%;
}

.form-control small{
    color: blue;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.form button{
    background-color: blue;
    border: 1px solid blue;
    border-radius: 3px;
    color: aqua;
    display: block;
    font-size: 15px;
    padding: 10px;
    margin-top: 15px;
}

.form-icons{
    background-color: antiquewhite;
    color: blueviolet;
}

h5{
    color: rgb(15, 4, 12);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
 
svg{
    color: rgb(39, 27, 213);
}


section{
    background-color: beige;
}

.form-creador{
    text-align: left;
}
